[submodule ".registry"]
	path = .registry
	url = https://github.com/sestelo/universe
	shallow = true
	branch = HEAD
[submodule "condsurv"]
	path = condsurv
	url = https://github.com/sestelo/condsurv
	shallow = true
	registered = true
[submodule "npregfast"]
	path = npregfast
	url = https://github.com/sestelo/npregfast
	shallow = true
	registered = true
[submodule "survidm"]
	path = survidm
	url = https://github.com/sestelo/survidm
	shallow = true
	registered = true
[submodule "clustcurv"]
	path = clustcurv
	url = https://github.com/noramvillanueva/clustcurv
	shallow = true
	registered = true
[submodule "fwdselect"]
	path = fwdselect
	url = https://github.com/sestelo/fwdselect
	shallow = true
	registered = true
